/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
:root {
    --white: #FFFFFF;
    --black: #000000; 
    --very_light_pink: #C7C7C7;
    --text_input_field: #f7f7f7;
    --hospital_green: #ACD9B2;
    --hospital_blue: #acd8d9;
    --apple_green: #5edb6e;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}
body {
    font-family: 'Quicksand', sans-serif;
}

/* Navbar */

.inactive {
    display: none !important;
}

.bold {
    font-weight: 300 !important;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 5rem;
    border-bottom: 0.4rem solid var(--text_input_field);
}
.menu {
    display: none;
}
.logo {
    width: 15rem;
}
.navbar_left, .navbar_right {
    display: flex;
}
.navbar_left ul, .navbar_right ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}
.navbar_left ul {
    margin: 0 3.2rem;
}
.navbar_left ul li a, .navbar_right ul li a {
    text-decoration: none;
}
.navbar_left ul li a {
    color: var(--very_light_pink);
    font-size: var(--lg);
    padding: 0.8rem 2rem;
    border: 0.2rem solid var(--white);
    font-weight: bold;
}
.navbar_right ul li:nth-child(1) {
    color: var(--black );
    font-size: var(--lg);
    font-weight: bold;
}
.navbar_user{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 3rem;
}
.navbar_user img{
    rotate: 90deg;
    margin-left: 1rem;
}


.navbar_left ul li a:hover {
    border-color: var(--hospital_green);
    color: var(--hospital_green);
    border-radius: 1.5rem;
}
.navbar_user p:hover {
    font-weight: bold;
}

/* Desktop menu */

.desktop_menu {
    position: absolute;
    top: 4.7rem;
    right: 14rem;
    background: var(--white);
    width: 15rem;
    height: auto;
    border: 0.2rem solid var(--very_light_pink);
    border-radius: 0.6rem;
    padding: 2rem;
}
.desktop_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop_menu ul li{
    text-align: end;
    font-size: var(--md);
}
.desktop_menu ul li a{
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    margin-bottom: 2rem;
}
.desktop_menu ul li:nth-child(1), .desktop_menu ul li:nth-child(2){
    font-weight: bold;
}
.desktop_menu ul li:last-child{
    padding-top: 2rem;
    border-top: 0.2rem solid var(--very_light_pink);
}
.desktop_menu ul li:last-child a{
    font-size: var(--md);
    color: var(--hospital_green);
    margin: 0;
}

.desktop_menu ul li:last-child a:hover{
    color: var(--apple_green);
}

/* mobile menu */

.mobile_menu {
    position: absolute;
    top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    padding: 2.4rem;
    background-color: var(--white);
}
.mobile_menu a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: var(--md);
    /* margin-bottom: 2.4rem; */
}
.mobile_menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    margin-top: 2.4rem;
    padding: 0;
}
.mobile_menu ul:nth-child(1){
    border-bottom: 0.2rem solid var(--very_light_pink);
    padding-bottom: 2.5rem;
}
.mobile_menu ul li{
    margin-bottom: 3.4rem;
}
.email{
    font-size: var(--sm) !important;
    font-weight: 300 !important;
}
.sing_out{
    font-size: var(--sm) !important;
    color: var(--hospital_green) !important;

}
.Extra li{
    margin-bottom: 0.4rem !important;
}

/* aside (produc detail y carrito) */

.product-detail {
    width: 36rem;
    padding: 2.4rem;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    background-color: var(--white);
  }
  .title-container {
    display: flex;
    margin-bottom: 2rem;
  }
  .title-container img {
    transform: rotate(180deg);
    margin-right: 1.4rem;
  }
  .title {
    font-size: var(--lg);
    font-weight: bold;
  }
  .order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.6rem;
    align-items: center;
    background-color: var(--text_input_field);
    margin-bottom: 2.4rem;
    border-radius: 0.8rem;
    padding: 1rem 2.4rem;
  }
  .order p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
  }
  .order p:nth-child(2) {
    text-align: end;
    font-size: var(--md);
    font-weight: bold;
  }
  .shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
    align-items: center;
  }
  .shopping-cart figure {
    margin: 0;
  }
  .shopping-cart figure img {
    width: 7rem;
    height: 7rem;
    border-radius: 2rem;
    object-fit: cover;
  }
  .shopping-cart p:nth-child(2) {
    color: var(--very_light_pink);
    font-size: var(--md);
  }
  .shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
  }
  .primary_button{
    background-color: var(--hospital_green);
    border: none;
    border-radius: 8px;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 5rem;
    margin-bottom: 3.2rem;
}

.primary_button:hover, .primary_button:checked {
    background-color: var(--apple_green);
}

@media (max-width: 1220px) {
    nav {
        padding: 0.8rem 1.2rem;
    }
    .menu{
        display: flex;
    }
    .navbar_left ul {
        display: none;
    }
    .navbar_user {
        display: none;
    }
    .desktop_menu {
        display: none;
    }
    .product-detail {
        width: 100%;
      }
}
@media (min-width: 1221px){
    .mobile_menu{
        display: none;
    }
}